.Added-students-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
}

.Added-students-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
}