.Course-Information {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    gap: 1em;
    line-height: 1.5;
    padding: 2em 8em;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.courseInfo-btn {
    width: 5em;
}
.edit-save-btns {
    display: flex;
    gap: 1em;
}
.success-message {
    opacity: .8;
    font-style: italic;
}