footer {
    width: 100%;
    height: 20vh;
    background-color: rgb(253, 179, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.footer-text {
    color: white;
    font-weight: 500;
}