/* Sourse - button 56: https://getcssscan.com/css-buttons-examples */


.action-btn {
    align-items: center;
    background-color: rgb(255, 217, 0);
    border: 1.5px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    height: 35px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    touch-action: manipulation;
    margin: 1em 0;
    font-weight: bold;
  }
  
  .action-btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 38px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .action-btn:hover:after {
    transform: translate(0, 0);
  }
  
  .action-btn:active {
    background-color: rgb(255, 217, 0);
    outline: 0;
  }
  
  .action-btn:hover {
    background-color: rgb(255, 217, 0);
    outline: 0;
  }
  
  