.Recent-reflections {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    padding: 2em 3em;
    background-color: var(--main-accent-color);
    width: 80%;
    text-align: start;
}

.Recent-reflections h2 {
    margin-bottom: 20px;
    color: white;
}

.Recent-reflection {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    color: black ;
    background-color: white;
    padding: 1.5em;
    border-radius: 5px;
}
.Recent-reflection:hover {
    background-color: #ececec;
}

.Recent-reflection div {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr;
    gap: 2em;
    align-items:start;
    justify-items: center;
}

.submissions_link {
    margin-bottom: 3em;
}

@media screen and (max-width: 768px) {
    .Recent-reflections {
        width: 90vw;
    }

    .Recent-reflection {
        width: 70vw;
    }
    
}
