.show-mongo-objects {
  padding: 20px;
  background-color: #f0f0f0;
  height: 100%;
  width: 50vw;
}

.show-mongo-objects h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.show-mongo-objects ul {
  list-style-type: none;
}

.show-mongo-objects li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
}

.show-mongo-objects li div {
  margin-bottom: 10px;
}
