h1 {
    text-align: center;
    margin-top: 10px;
}

.profile-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    width: 400px;
  }
  
  .profile-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-field {
    margin-bottom: 15px;
  }
  
  .profile-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .profile-field input {
    width: calc(100% - 16px); /* Adjust input width */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .save-button {
    padding: 10px 20px;
    background-color: #0396df;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #0056b3;
  }
  