.profile_container {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 500px;
}

.profile_heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-settings {
  display: flex;
  flex-direction: column;
}

.profile-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-field p {
  flex-shrink: 0;
  width: 100px; /* Adjusted width for label */
}

.profile-value {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: calc(100% - 180px); /* Adjusted width for input */
}

.edit-button {
  padding: 8px 12px;
  border-radius: 3px;
  margin-left: 10px;
  font-weight: bold;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
}

.delete-button:hover {
  background-color: #b83527;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

/* Adjust width of password input field */
.password-input input {
  width: 100%;
  margin-top: 5px; /* Added margin to separate inputs */
}
