.reflection-card {
    margin: 1em;
    padding: 1em;
    /* border: 1px solid #e0e0e0; */
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 25vw;
}

.reflection-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.diary-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.link-container {
    margin-top: 1vh;
    display: flex;
    gap: 1em;
    align-items: center;
}

.link-container button{
    text-decoration: underline #fff;
}

